# 피클 모델 불러오기

In [1]:
import pickle
with open('./최종 파일/lsvc_model.pkl', 'rb') as f:
    lsvc = pickle.load(f)

In [2]:
with open('./최종 파일/lsvc_tfidf_vectorizer.pkl', 'rb') as f:
    tfidf_vec = pickle.load(f)

In [64]:
with open('label_mapping.pkl', 'rb') as f:
    label_mapping = pickle.load(f)

In [4]:
from tensorflow.python.keras.models import load_model

lstm_model = load_model('best_model.h5', compile=False)

In [5]:
from keras.preprocessing.text import Tokenizer

with open('./최종 파일/lstm_tokenizer2.pkl', 'rb') as f:
    tokenizer = pickle.load(f)

In [6]:
with open('cosine_tfidf.pkl', 'rb') as f:
    tfidf = pickle.load(f)

In [7]:
with open('cosine_dict.pkl', 'rb') as f:
    cosine_dict = pickle.load(f)

# 함수 생성

In [8]:
import string
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

# 세 모델 함수

In [115]:
def three_ensemble_predict(description):
    ## 입력값 전처리
    stop_words = stopwords.words('english')
    stop_words.append('x')
    stop_words.append('w')
    
    # 텍스트 전처리: 소문자 변환, 토큰화, 불용어 제거
    tokens = word_tokenize(description.lower())
    tagged_tokens = nltk.pos_tag(tokens)  # 단어 토큰에 품사 태깅 추가

    lemmatizer = WordNetLemmatizer()
    filtered_tokens = []
    for word, tag in tagged_tokens:
        if (tag.startswith('NN') or tag.startswith('VB')) and word not in stop_words:  # 명사 또는 동사인 경우
            lemma = lemmatizer.lemmatize(word, pos='n' if tag.startswith('NN') else 'v')
            filtered_tokens.append(lemma)
        elif word.isalpha() and word not in stop_words:
            filtered_tokens.append(word)
    preprocessed_description = [' '.join(filtered_tokens)]

    ## LSVC 모델 적용
    description_tfidf_vec = tfidf_vec.transform(preprocessed_description)
    decision_values = lsvc.decision_function(description_tfidf_vec)

    lsvc_top3_list = []
    proba_list = decision_values.argsort().flatten().tolist()[::-1][:3]
    for i in proba_list:
        for k, v in label_mapping.items():
          if k == i:
            lsvc_top3_list.append(v)

    #w1 = 1
    lsvc_top3_dict = {lsvc_top3_list[0]:3, lsvc_top3_list[1]:2, lsvc_top3_list[2]:1}
    #lsvc_top3_dict_w = { k : v*w1 for k, v in lsvc_top3_dict.items() }
    
    ## LSTM 모델 적용
    description_encoded = tokenizer.texts_to_sequences(preprocessed_description)
    description_padded = pad_sequences(description_encoded, maxlen=800)

    des_predict = lstm_model.predict(description_padded)

    lstm_top3_list = []
    proba_list = des_predict.argsort().flatten().tolist()[::-1][:3]
    for i in proba_list:
        for k, v in label_mapping.items():
          if k == i:
            lstm_top3_list.append(v)

    #w2 = 1
    lstm_top3_dict = {lstm_top3_list[0]:3, lstm_top3_list[1]:2, lstm_top3_list[2]:1}
    #lstm_top3_dict_w = { k : v*w2 for k, v in lstm_top3_dict.items() }

    ## 유사도 코드 적용
    # 입력값 전처리
    input_document = remove_punctuation(description)
    input_tokens = word_tokenize(input_document.lower())  # 소문자로 변환 및 토큰화
    input_tokens = [lemmatizer.lemmatize(word) for word in input_tokens if word not in stop_words]

    documents = list(cosine_dict.values())
    documents.append(' '.join(input_tokens))
    
    tfidf_matrix = tfidf.transform(documents)

     # 입력 설명서와 각 HS 코드 간의 코사인 유사도 계산
    similarities = cosine_similarity(tfidf_matrix[-1], tfidf_matrix[:-1])

    # 유사도가 가장 높은 상위 3개 HS 코드 인덱스 및 값
    most_similar_hs_code_indices = np.argsort(similarities)[0][-3:][::-1]  # 상위 3개 인덱스
    similarities_top3_list = [list(cosine_dict.keys())[i] for i in most_similar_hs_code_indices]  # 상위 3개 HS 코드

    #w3 = 1
    similarities_top3_dict = {similarities_top3_list[0]:3, similarities_top3_list[1]:2, similarities_top3_list[2]:1}
    #similarities_top3_dict_w = { k : v*w3 for k, v in similarities_top3_dict.items() }
    
    ## 딕셔너리 병합 및 값 더하기
    merged_dict = {}
    for d in [lsvc_top3_dict, lstm_top3_dict, similarities_top3_dict]:
        for k, v in d.items():
            merged_dict[k] = merged_dict.get(k, 0) + v
    
    # 상위 3개 HS 코드 가져오기
    top_3_hs_codes = dict(sorted(merged_dict.items(), key=lambda x: x[1], reverse=True)[:3])
    
    return list(top_3_hs_codes.keys())

In [69]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.utils import pad_sequences
import numpy as np

three_ensemble_predict('Optical wireless mouse - three push button switches, scroll wheel, laser sensor, transmitter and Bluetooth transmitter in a plastic casing with a USB connection (dimensions: 106 x 57 x 35 mm), (Figure attached) - for entry of position data and to trigger Control commands, - to the central unit of automatic data processing machines directly connected and able to provide data in a system-usable form - together with accessory pack (user manual, 2 AAA rechargeable batteries and USB charge cable) in a joint Verkaufsumschließung. The optical mouse determines the character of the whole. "input device for automatic data processing machines, no keyboard, not intended for use in civil aircraft - optical computer mouse in the set with no charakterbestimmendem pack.')

[8471, 8463, 8517]

# 함수 테스트

In [73]:
import pandas as pd

test = pd.read_excel('./최종 파일/전처리완료된통합검증데이터.xlsx', index_col = 0)
test.head()

   hs code                                           name_des
0     8481  PRESSURE RELIEF VALVE 6 BAR 1/2 INCH FEMALE CO...
1     8479  MICROPLATE WASHER FOR USE IN LIFE SCIENCE LABO...
2     8481  SHOWER ACCESSORY KIT COMPRISING OF A METAL SHO...
3     8459  MULTIFUNCTIONAL MACHINE COMPRISING OF A METAL ...
4     8427  A ROUGH TERRAIN HAND PALLET TRUCK MADE FROM HE...

In [75]:
test.reset_index(drop=True, inplace=True)

In [13]:
test['hs code'].astype(object)

0      8481
1      8479
2      8481
3      8459
4      8427
       ...
505    8542
506    8517
507    8542
508    8542
512    8504
Name: hs code, Length: 1763, dtype: object

In [88]:
cnt = 0
cnt_top = 0
for i, v in zip(test['hs code'], test['name_des']):
    result = three_ensemble_predict(v)
    if i in result:
        cnt += 1 
    if i == result[0]:
        cnt_top += 1
        
print(cnt)
print(cnt/len(test))

print(cnt_top)
print(cnt_top/len(test))

1649
0.9353374929098128
1508
0.8553601815087918

In [91]:
usa_test1 = pd.read_excel('84미국사례 테스트용.xlsx', index_col=0)
usa_test2 = pd.read_excel('85미국사례 테스트용.xlsx', index_col=0)

usa_test1.head()

                                               description
hs code
8481     The Cooler Keg, model number CK0001, is referr...
8470     The products under consideration are identifie...
8428     The merchandise under consideration is describ...
8445     At issue is the GlassTwister ring twisting mac...
8415     The air handler unit in question is available ...

In [92]:
usa_test2.head()

                                               description
hs code
8519     The merchandise under consideration is the Bea...
8509     The merchandise is five models of aroma diffus...
8516     The product under consideration is described a...
8501     The merchandise under consideration is identif...
8543     There are three items at issue with this reque...

In [94]:
usa_test = pd.concat([usa_test1, usa_test2])
usa_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 8481 to 8504
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  40 non-null     object
dtypes: object(1)
memory usage: 640.0+ bytes

In [96]:
usa_test.reset_index(inplace=True)
usa_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hs code      40 non-null     int64
 1   description  40 non-null     object
dtypes: int64(1), object(1)
memory usage: 772.0+ bytes

In [97]:
usa_test.head()

   hs code                                        description
0     8481  The Cooler Keg, model number CK0001, is referr...
1     8470  The products under consideration are identifie...
2     8428  The merchandise under consideration is describ...
3     8445  At issue is the GlassTwister ring twisting mac...
4     8415  The air handler unit in question is available ...

In [98]:
usa_test.to_excel('미국사례테스트용.xlsx')

In [114]:
cnt = 0
cnt_top = 0
for i, v in zip(usa_test['hs code'], usa_test['description']):
    pred = three_ensemble_predict(v)
    if i in pred:
        cnt += 1 
    if i == pred[0]:
        cnt_top += 1

print('<세가지 모델 합친 것 미국사례 정확도>')
print('3개중 하나 맞춘 개수:', cnt)
print('3개중 하나 맞춘 정확도:', cnt/len(usa_test))

print('top1 맞춘 개수:', cnt_top)
print('top1 맞춘 개수:', cnt_top/len(usa_test))

<세가지 모델 합친 것 미국사례 정확도>
3개중 하나 맞춘 개수: 33
3개중 하나 맞춘 정확도: 0.825
top1 맞춘 개수: 22
top1 맞춘 개수: 0.55

# 미국 사례 테스트 - 2

In [118]:
usa_total = pd.read_excel('미국테스트전체데이터.xlsx', index_col=0)
usa_total.head()

   hs code                                        description
0     8424  The item under consideration is described as a...
1     8421  The merchandise under consideration is describ...
2     8466  The Bottom Ram #85 is a cast steel component o...
3     8479  The Chameleon MS4 is a wearable device designe...
4     8438  The two items under consideration are describe...

In [119]:
usa_total.reset_index(drop=True, inplace=True)
usa_total

     hs code                                        description
0       8424  The item under consideration is described as a...
1       8421  The merchandise under consideration is describ...
2       8466  The Bottom Ram #85 is a cast steel component o...
3       8479  The Chameleon MS4 is a wearable device designe...
4       8438  The two items under consideration are describe...
..       ...                                                ...
106     8537  The merchandise under consideration is referre...
107     8541  The items concerned are extruded aluminum sola...
108     8524  The merchandise under consideration is a TFT-L...
109     8525  The merchandise under consideration is describ...
110     8504  The merchandise under consideration is identif...

[111 rows x 2 columns]

In [126]:
cnt = 0
cnt_top = 0
for i, v in zip(usa_total['hs code'], usa_total['description']):
    pred = three_ensemble_predict(v)
    if i in pred:
        cnt += 1 
    if i == pred[0]:
        cnt_top += 1

print('<세가지 모델 합친 것 미국사례 정확도>')
print('3개중 하나 맞춘 개수:', cnt)
print('3개중 하나 맞춘 정확도:', round(cnt/len(usa_total),3))

print('top1 맞춘 개수:', cnt_top)
print('top1 맞춘 개수:', round(cnt_top/len(usa_total),3))

<세가지 모델 합친 것 미국사례 정확도>
3개중 하나 맞춘 개수: 94
3개중 하나 맞춘 정확도: 0.847
top1 맞춘 개수: 60
top1 맞춘 개수: 0.541